[safe]
	directory = /mnt/windows/Users/cesar/Dev
	directory = /mnt/windows/Users/cesar/Dev/ai-api-leap
	directory = /mnt/windows/Users/cesar/Dev/
	directory = 
	directory = 
	directory = /home/cesar/Dev/Leap
	directory = /home/cesar/Dev/document-ingestion-api
	directory = /home/cesar/Dev/ai-api-leap
[user]
	name = znehAC
	email = adrianocesar321@gmail.com
