// --- AUTOSTART ---

// Core System (Infraestrutura Wayland e D-Bus)
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xembedsniproxy"
spawn-at-startup "swaync"
spawn-at-startup "nm-applet"

// Apps Gráficas de Usuário (Persistent Windows)
spawn-at-startup "zen-browser"
spawn-at-startup "wezterm" "start" "--class" "btop" "-e" "btop"
spawn-at-startup "spotify"
spawn-sh-at-startup "gtk-launch vesktop"
spawn-at-startup "steam" "-silent"
