[Desktop Entry]
Name=Aimlabs
Comment=Play this game on Steam
Exec=steam steam://rungameid/714010
Icon=steam_icon_714010
Terminal=false
Type=Application
Categories=Game;
