[Desktop Entry]
Name=Beat Saber
Comment=Play this game on Steam
Exec=steam steam://rungameid/620980
Icon=steam_icon_620980
Terminal=false
Type=Application
Categories=Game;
