[Desktop Entry]
Name=Clair Obscur: Expedition 33
Comment=Play this game on Steam
Exec=steam steam://rungameid/1903340
Icon=steam_icon_1903340
Terminal=false
Type=Application
Categories=Game;
