[Desktop Entry]
Name=ClickUp
Exec=/home/cesar/.local/bin/envwrapper clickup --enable-features=UseOzonePlatform,WaylandLinuxDrmSyncobj
Icon=/opt/clickup/logo.svg
Type=Application
Categories=Utility
