[Desktop Entry]
Name=Hades II
Comment=Play this game on Steam
Exec=steam steam://rungameid/1145350
Icon=steam_icon_1145350
Terminal=false
Type=Application
Categories=Game;
