[Desktop Entry]
Version=1.0
Type=Application
Name=A/B Tester x4 Mono
GenericName=A/B Tester
Comment=Mono plugin that allows to perform quick A/B test of four channels with blind option
Exec=lsp-plugins-ab-tester-x4-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
