[Desktop Entry]
Version=1.0
Type=Application
Name=LSP Mixer x16 Mono
GenericName=Mixer
GenericName[ru]=Микшер
Comment=16 Channels Mono Mixer
Comment[ru]=Моно микшер на 16 каналов
Exec=lsp-plugins-mixer-x16-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
