[Desktop Entry]
Version=1.0
Type=Application
Name=Flanger Stereo
GenericName=Flanger
GenericName[ru]=Флэнджер
Comment=This tool allows to simulate the flanging effect for stereo signal
Comment[ru]=Устройство, позволяющее симулировать эффект флэнджера для стереосигнала
Exec=lsp-plugins-flanger-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
