[Desktop Entry]
Version=1.0
Type=Application
Name=Return Mono
GenericName=Return
Comment=This plugin allows to perform audio return using the shared memory
Exec=lsp-plugins-return-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
