[Desktop Entry]
Version=1.0
Type=Application
Name=LSP Mixer x4 Stereo
GenericName=Mixer
GenericName[ru]=Микшер
Comment=4 Channels Stereo Mixer
Comment[ru]=Стерео микшер на 4 канала
Exec=lsp-plugins-mixer-x4-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
