[Desktop Entry]
Version=1.0
Type=Application
Name=Noise Generator x4
GenericName=Noise Generator
GenericName[ru]=Генератор шума
Comment=Generates different kinds of noise for four audio channels.
Comment[ru]=Генерирует различные виды шума для четырёх аудиоканалов.
Exec=lsp-plugins-noise-generator-x4
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
NoDisplay=true
