[Desktop Entry]
Name=Vesktop
Exec=/home/cesar/.local/bin/envwrapper vesktop --disable-gpu-compositing
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
MimeType=x-scheme-handler/discord;
Comment=Vesktop is a custom Discord desktop app
